<h1><%= page_name %></h1>

<div style="width:33%; float:left;">
  <div class="aux_content">
    <%= auxiliary_content %>
  </div>
</div>

<div style="width: 67%; float:left;">
  <div class="base_page_content">
    <%= page_body %>

    <%= category_links %>
  </div>
</div>

