<p><em>mouse over an event to preview; click on an event for full details</em></p>

<div id="calendar" class="calendars"></div>

<div style="clear:both"></div>

<div id="event_quick_description" class="span-10">
  <p style="font-size: 1.2em; color: #999;">
    <em>mouse over an event for more details</em>
  </p>
</div>

<div class="span-6 last">
  <br/>
  <h2 style="text-align:center">Event Types</h2>
  <%= event_type_legend("event_list") %>
  <%= event_type_legend('event_calendar', 'display: none;') %>
</div>

<div style="clear:both"></div>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function()
  {
    $('#calendar').fullCalendar({ 
      header: { left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay' },
      editable: false, 
      events: '<%= event_calendar_events_path(:event_type => params[:event_type] || @event_type) %>', 
      height: 500, 
      aspectRatio: 1,
      eventMouseover: updateEventDescription
    });
  }
);
</script>
<% end %>
