<p><em>mouse over an event to preview; click on an event for full details</em></p>

<div id="calendar" class="calendars"></div>

<div style="clear:both"></div>

<div id="event_quick_description" class="span-12" style="display:none"></div>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function()
  {
    $('#calendar').fullCalendar({ 
      header: { left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay' },
      editable: false, 
      events: '<%= events_path(:event_type => params[:event_type] || @event_type) %>', 
      height: 500, 
      aspectRatio: 1,
      eventMouseover: updateEventDescription
    });
  }
);
</script>
<% end %>
