<div class="span-18 last">
  <h2>Current Events (<em><%= @current_events.count %></em>)</h2>
  <%= render :partial => '/event_calendar/events/list_group', :locals => {:events => @current_events} %>
  <h2>Past Events (<em><%= @past_events.count %></em>)</h2>
  <%= render :partial => '/event_calendar/events/list_group', :locals => {:events => @past_events} %>
</div>
