<h4>Textile Quick Reference</h4>

<p>
  <b>Phrase</b> modifiers:<br />
  _<em>emphasis</em>_<br />
  *<strong>strong</strong>*<br />
  ??<cite>citation</cite>??<br />
  -deleted text-<br />
  +inserted text+<br />
  ^superscript^<br />
  ~subscript~<br />
</p>

<p>
  To insert a <b>link</b>:<br />
  "linktext":url<br />
</p>

<p>
  To insert an <b>image</b>:<br />
  !imageurl!<br />
  !imageurl!:url<br />
</p>

<p>
  <b>Block</b> modifiers:<br />
  Header: <strong>h<em>n</em>.</strong><br />
  Blockquote: <strong>bq.</strong><br />
  Numeric list: <strong>#</strong><br />
  Bulleted list: <strong>*</strong><br />
</p>

<div class="textile_advanced" style="display:none">

  <p>
    To apply <b>attributes:</b><br />
    (class)<br />
    (#id)<br />
    {style}<br />
    [language]<br />
  </p>

  <p>
    To insert a <b>footnote</b>:<br />
    See foo<strong>[<em>n</em>]</strong>.<br />
    <strong>fn<em>n</em></strong>. Foo.<br />
  </p>

  <p>
    To <b>align</b> blocks:<br />
    <b>&#60;</b> right<br />
    <b>&#62;</b> left<br /><b>=</b> center<br />
    <b>&#60;&#62;</b> justify<br />
  </p>

  <p>
    To insert a <b>table</b>:<br />
    |a|table|row|<br />
    |a|table|row|<br />
  </p>

  <p>
    To define an <b>acronym</b>:<br />
    ABC(Always Be Closing)<br />
  </p>

  <p>
    <b>Punctuation</b>:<br>
    <b>"</b>quotes<b>"</b> &rarr; &#8220;quotes&#8221;<br />
    <b>'</b>quotes<b>'</b> &rarr; &#8216;quotes&#8217;<br />
    it<b>'</b>s &rarr; it&#8217;s<br />
    -&gt; &rarr; &rarr;<br />
    em <b>--</b> dash</b> &rarr; em &#8212; dash<br />
    en <b>-</b> dash &rarr; en &#8211; dash<br />
    2 <b>x</b> 4 &rarr; 2 &#215; 4<br />
    foo<b>(tm)</b> &rarr; foo&#8482;<br />
    foo<b>(r)</b> &rarr; foo&#174;<br />
    foo<b>(c)</b> &rarr; foo&#169;<br />
  </p>
</div>
