.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/tags
.DS_Store
config/database.yml
db/*.sqlite3
db/development_structure.sql
db/schema.rb
*~
cache
.*.swp
.*.swo
nbproject/
spec/spec.opts.netbeans
public/content_page_assets/
public/wiki_page_assets/
public/user_assets/
public/themes
public/images/favorite.png
coverage/
.rvmrc
public/files
Gemfile.lock
