<p>
  <strong>Group Name</strong>:
  <%= form.text_field :name, :size => 50 %>
</p>

<p>
  <strong>Grants Special Access:</strong><br/>
  <% UserGroup::SPECIAL_ACCESS.each_with_index do |access, index| %>
    <%= check_box_tag "user_group[special][]", index, (@user_group.special || []).include?(index) %>
    <%= access %><br/>
  <% end %>
</p>