body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 150%;
}

body {
  background-color: #805c4f;
  font-size: 12px;
}

p { padding: 8px 0px; }

h1 { font-size: 2em; padding: 20px 4px; text-align:center; }
h2 { font-size: 1.8em; padding: 12px 4px; margin: 10px 0; border-bottom: 1px solid #993 }
h3 { font-size: 1.6em; padding: 16px 4px; }
h3 { font-size: 1.4em; padding: 14px 4px; }
h1 img, h2 img { vertical-align:middle; }

a:link, a:visited, a:active { color: #33C; text-decoration:none; }
a:hover { color: #00F; text-decoration:underline; }

input { font-size: 11px; }

ul { }

li { margin-left: 20px; }

textarea { font-family: Arial, sans-serif; font-size: 12px; vertical-align:top; }

#top_banner {
  text-align:center; height: 100px;
}

#main_content_box {
    margin-left: auto; 
    margin-right:auto;
    padding: 20px;
    height: 100%;
    min-height: 600px;
    width: 800px; 
    background: white; 
    -moz-box-shadow: 0px 0px 40px #333;
    box-shadow: 0px 0px 40px #333;
}

.base_content {
  clear:both;
}

/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
    background: url(http://openid.net/images/login-bg.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

.center {
    margin: auto;
    text-align: center;
}

.center_box {
    margin: auto;
}

.form_label {
    text-align: right;
    font-weight: bold;
}

.big_button {
  font-size: 16px;
  border: 1px solid #009;
  padding: 4px 8px;
  margin: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.big_button:hover { background: #FF9; }

#user_box {
  width: 200px;
  font-size: 10px;
  text-align:left;
  position: relative;
  left: 570px;
  border: 1px solid #998d7b;
  padding: 4px 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.user_link_box {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    background-color:#DDD;
    margin-bottom:-4px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:5px;
    text-align:center;
}

.user_link_box a:link, .user_link_box a:visited { color: #009; }
.user_link_box a:hover { color: #00F; }


.link_box {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#DDD;
    text-align:center;
    padding: 4px 8px;
}


.link_box a:link, .link_box a:visited { color: #009; }
.link_box a:hover { color: #00F; }




/*    forum stuff */


table.forums { background: #DDE; width: 100%; border-spacing: 0px; }
table.forums tr { background: #F6F6FF;  }
table.forums td { padding: 10px; font-size: 12px;  }
table.forums strong { font-size: 18px; font-weight: bold; }
table.forums strong a {border: none; }
table.forums td.small_text { font-size: 10px; }

table.messages { background: #DDE; min-width: 600px; border-spacing: 4px; border-collapse: separate; }
table.messages tr { background: #F6F6FF; border-spacing: 4px; }
table.messages td { padding: 10px; font-size: 11px;  }
table.messages li { font-size: 11px;  }
table.messages strong { font-size: 12px; font-weight: bold; }
table.messages td small_text { font-size: 10px; }
table.messages blockquote { background: white; color: #333; border-left: 2px solid #999; padding-left: 6px;  }
table.messages tr td.leftside { text-align: right; vertical-align: top; border-left: 3px solid #AAA;
  background: #DDE; font-size: 11px; width: 120px;
}
table.messages tr:hover td.leftside { border-left: 3px solid #009; }
table.messages .lightgreen { color: #090; }

.tag_list form { font-size: 9px; }
.tag_list input { font-size: 10px; }
#message_tag_list { font-size: 9px;  }
#tags_for_user { float: right; font-size: 10px; min-width: 50px;
  padding: 10px; margin: 11px; border: 1px solid #009; background: #EEF;
  text-align: right;
}



/* pagination */


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
  background-color: #FFF;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  display:none;
}
