
h1 img, h2 img { vertical-align:middle; }

h4 { font-weight: bold; }

a:link, a:visited, a:active { text-decoration:none; }
a:hover { text-decoration:underline; }

textarea { vertical-align: top; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }

p + p { margin-top: -0.8em; text-indent: 0; }

.base_content {
  clear:both;
}

/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
    background: url(http://openid.net/images/login-bg.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

.center {
    margin: auto;
    text-align: center;
}

.center_box {
    margin: auto;
}

.form_label {
    text-align: right;
    font-weight: bold;
}

.top_menu ul li, .header ul li {
  display: inline;
  list-style-type: none;
  padding: 0 5px;
  margin: 0 5px;
  position: relative;
}

.big_button {
  font-size: 16px;
  border: 1px solid #009;
  padding: 4px 8px;
  margin: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.big_button:hover { background: #FF9; }

.admin_links { margin: 24px; }

.admin_links a:link, .admin_links a:visited {
  font-family: Verdana, sans-serif;
  font-size: 9px;
  color: #900;
}
.admin_links a:hover {
  color: #F00;
}


.link_box a:link, .link_box a:visited { color: #009; }
.link_box a:hover { color: #00F; }



.tag_list form { font-size: 9px; }
.tag_list input { font-size: 10px; }
#message_tag_list { font-size: 9px;  }
#tags_for_user { float: right; font-size: 10px; min-width: 50px;
  padding: 10px; margin: 11px; border: 1px solid #009; background: #EEF;
  text-align: right;
}


table.nice_table { background: #EEE;  }
table.nice_table th { background: #EEE; padding: 2px 4px; font-size: 13px;  border-bottom: 1px solid #CCC; }
table.nice_table th.sorted_down { background: #CCF; }
table.nice_table th.sorted_up { background: #FCC; }
table.nice_table tr { background: #FFF; }
table.nice_table tr:hover { background: #EEE;  }
table.nice_table td { padding: 4px; font-size: 11px; border-bottom: 1px solid #CCC; vertical-align: top; }
table.nice_table td input, table.nice_table td select { font-size: 11px; border: 1px solid #999 }


.feed_links { vertical-align: middle }
.feed_links img, .feed_links a, .feed_links a:link, .feed_links a:visited { border: none; text-decoration: none; vertical-align:middle; }
.feed_links a { margin-left: 15px; }

.diff_text ins { background-color: #AFA; }
.diff_text del { background-color: #FBB; color: #666; }


th.sorted_by { background: #99C; }

ul.side_by_side li { display: inline; padding-right: 20px; }
ul.side_by_side li img { vertical-align: middle; }

#tagCloud {
  width:250px; background-color:#EEE; text-align:center; padding:5px;
  overflow:auto; font-size:70%; font-family: Arial, sans-serif;
  -moz-box-shadow: 0 0 50px #CCC;
  -webkit-box-shadow: 0 0 50px #CCC;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin:20px;
}
#tagList { margin:0; padding:0; }
#tagList li {
  list-style-type:none; float:left; margin:0 10px; height:35px;
}
#tagList li a { text-decoration:none; color:#333; }
#tagList li a:hover { text-decoration:underline; }  



/* pagination */


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
  background-color: #FFF;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  display:none;
}


.CodeMirror-wrapping { border: 1px solid #CCC; background: #FFF; }


a.delete_x:link, a.delete_x:visited, a.delete_x:active { color: #900; text-decoration: none; border: none;}
a.delete_x:hover { color: #F33; text-decoration: none; border: none; }

.fc-event-title {
  color: #fff;
  font-size: 12px;
}


/* lists */
ul.category_list li:hover { background: #eee; }
ul.category_list li li:hover { background: #f9f9f9; }
ul.category_list li li li:hover { background: #e9e9e9; }
ul.category_list li div { display: inline-block; width: 15%; }
ul.category_list li div.category_name { width: 50%; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }


/* menu */

div.mega_menu {
  z-index: 99;
  position:absolute;
  min-width: 200px;
  top: 1.6em;
  left: 0;
  padding: 2px 15px 15px;
  text-align: left;
  border: 1px solid #333;
  border-top: none;
  -moz-box-shadow: 0px 5px 15px #999;
  -webkit-box-shadow: 0px 5px 15px #999; 
  box-shadow: 0px 5px 15px #999;
  background: #EEE; /* old browsers */
  background: -moz-linear-gradient(top, #AAAAAA 0%, #EEEEEE 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAAAAA), color-stop(100%,#EEEEEE)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAAAAA', endColorstr='#EEEEEE',GradientType=0 ); /* ie */
}

.mega_menu h4 { 
  font-family: sans-serif; 
  color: #EEE; 
  border-bottom: 1px solid #CCC;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
}
.mega_menu ul { margin: 0 }
.mega_menu ul li { display: list-item; list-style: none; margin: 0.5em 0 }
.mega_menu img { vertical-align: middle; }

a.menu_highlight { background: #333; }


/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid table {
	width: 100%;
	}
	
.fc .fc-grid th {
	border-width: 0 0 0 1px;
	text-align: center;
	}
	
.fc .fc-grid td {
	border-width: 1px 0 0 1px;
	}
	
.fc-grid th.fc-leftmost,
.fc-grid td.fc-leftmost {
	border-left: 0;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 0; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */

.fc-rtl .fc-grid {
	direction: rtl;
	}
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
.links p.new {
  float: right;
}

ul.events, ul.events ul { list-style: none; }
ul.events .closed:before { content: '+ ' }
ul.events .closed:hover { text-decoration: underline; }
ul.events .open:before { content: '- ' }
.link_url { display:none; }

.asset_list ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
}
.comments {
  height: 175px;
  overflow-y: scroll;
  padding: 5px;
  margin-bottom:20px;
}
.posts .gravatar_wrapper, .post .gravatar_wrapper {
  width: 150px;
  float: right;
  text-align: center;
}


ul.category_list { 
  list-style-type: none;
  margin-left: 20px;
}

ul.category_list li { }
