body {
  background-color: #9aa45f;
}

/* h1 { text-shadow: 1px 1px 4px #CCFFCC; } */

h1 { text-shadow: 1px 1px 4px #9aa45f; }

h1 img, h2 img { vertical-align:middle; }

a:link, a:visited, a:active { color: #514573; text-decoration:none; }
a:hover { color: #736795; text-decoration:underline; }

textarea { vertical-align: top; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }

p + p { margin-top: -0.8em; }

#top_banner {
  text-align:center; height: 100px;
}

#main_content_box {
    margin-left: auto; 
    margin-right:auto;
    padding: 20px;
    height: 100%;
    min-height: 600px;
    width: 800px; 
    background: white; 
    -moz-box-shadow: 0px 0px 40px #333;
    box-shadow: 0px 0px 40px #333;
}

.base_content {
  clear:both;
  background: #fff;
  border: 4px solid #FFF;
  padding: 8px 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
    background: url(http://openid.net/images/login-bg.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

.top_menu { 
  border: 4px solid #FFF;
  margin: 20px 0;
  padding: 12px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 150%;
}

.top_menu p { margin: 0; }

.top_menu ul {
  margin: 0;
  width: 100%;
  text-align: center;
}

.top_menu ul li {
  display: inline;
  list-style-type: none;
  padding: 0 5px;
  margin: 0 5px;
}

.top_menu ul li a:link, .top_menu ul li a:visited {  color: #DDD; text-decoration: none; }
.top_menu ul li a:hover {  color: #FFF; text-decoration: none; }


.side_menu {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-right: 15px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.center {
    margin: auto;
    text-align: center;
}

.center_box {
    margin: auto;
}

.form_label {
    text-align: right;
    font-weight: bold;
}

.big_button {
  font-size: 16px;
  border: 1px solid #009;
  padding: 4px 8px;
  margin: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.big_button:hover { background: #FF9; }

#user_box {
  width: 200px;
  font-size: 10px;
  text-align:left;
  position: relative;
  left: 570px;
  border: 1px solid #998d7b;
  padding: 4px 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.user_link_box {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    background-color:#DDD;
    margin-bottom:-4px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:5px;
    text-align:center;
}

.user_link_box a:link, .user_link_box a:visited { color: #009; }
.user_link_box a:hover { color: #00F; }


.link_box {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#DDD;
    text-align:center;
    padding: 4px 8px;
}

.admin_links a:link, .admin_links a:visited {
  font-family: Verdana, sans-serif;
  font-size: 9px;
  color: #900;
}
.admin_links a:hover {
  color: #F00;
}


.link_box a:link, .link_box a:visited { color: #009; }
.link_box a:hover { color: #00F; }




/*    forum stuff */


table.forums { background: #DDE; width: 100%; border-spacing: 0px; -moz-border-radius: 4px;
  -webkit-border-radius: 4px; border: 1px solid #DDE; }
table.forums tr { background: #F6F6FF;  }
table.forums td { padding: 10px; font-size: 12px;  }
table.forums strong { font-size: 18px; font-weight: bold; }
table.forums strong a {border: none; }
table.forums td.small_text { font-size: 10px; }

table.messages { background: #a8a8a8; min-width: 600px; border-spacing: 4px; border-collapse: separate;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
table.messages tr { background: #F9F9F9; border-spacing: 4px; }
table.messages td { padding: 10px; font-size: 11px;  }
table.messages li { font-size: 11px;  }
table.messages strong { font-size: 12px; font-weight: bold; }
table.messages td small_text { font-size: 10px; }
table.messages blockquote { background: white; color: #333; border-left: 2px solid #999; padding-left: 6px;  }
table.messages tr td.leftside { text-align: right; vertical-align: top; border-left: 3px solid #AAA;
  background: #a8a8a8; font-size: 11px; width: 120px;
}
table.messages tr:hover td.leftside { border-left: 3px solid #817f73; }
table.messages .lightgreen { color: #090; }

.tag_list form { font-size: 9px; }
.tag_list input { font-size: 10px; }
#message_tag_list { font-size: 9px;  }
#tags_for_user { float: right; font-size: 10px; min-width: 50px;
  padding: 10px; margin: 11px; border: 1px solid #009; background: #EEF;
  text-align: right;
}


table.nice_table { background: #EEE;  }
table.nice_table th { background: #EEE; padding: 2px 4px; font-size: 13px; }
table.nice_table th.sorted_down { background: #CCF; }
table.nice_table th.sorted_up { background: #FCC; }
table.nice_table tr { background: #FFF; }
table.nice_table tr:hover { background: #EEE; }
table.nice_table td { padding: 4px; font-size: 11px;}
table.nice_table td input, table.nice_table td select { font-size: 11px; border: 1px solid #999 }



/* pagination */


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
  background-color: #FFF;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  display:none;
}
