/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic li {
  width: 380px;
  margin-right: 40px;
}

form.formtastic fieldset ol li { vertical-align:top; }
form.formtastic fieldset ol li label { width: 30%; }
form.formtastic fieldset ol li.string input { width: 69%; }
form.formtastic fieldset ol li.string input { width: 69%; }
form.formtastic fieldset ol li.text textarea { width: 69%; height: 70px; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label { font-weight: normal; padding-left: 40px; }

form.formtastic fieldset ol li p.inline-hints {
  color:#666666;
  font-size:11px;
  margin:0.3em 0 0 25%;
}

#event_start_on_input label { width: 49% }
#event_start_on { width: 50% }
#event_end_on_input label { width: 49% }
#event_end_on { width: 50% }
