<%= render @event %>
<% if current_user || @event.file_attachments.any? %>
<div>
  <%= render :partial => 'file_attachments/plupload_with_listing', :locals => {
              :files => @event.file_attachments
  } %>  
</div>
<% end %>
<%= form_for_browse_event_revisions(@event) %>
