body {
  background-color: #FFFFFF;
}

h1 { text-shadow: 1px 1px 4px #FFFFFF; color: #222222  }

h4 { color: #FFFFFF; }

a:link, a:visited, a:active { color: #222222; }
a:hover { color: #000066 }

.base_content { background-color: #FFFFFF }

  .bg_palette_1 { background-color: #000066; }
  .text_palette_1 { color: #000066; }
  .border_palette_1 { border-color: #000066; }
  .bg_palette_2 { background-color: #FFFFFF; }
  .text_palette_2 { color: #FFFFFF; }
  .border_palette_2 { border-color: #FFFFFF; }
  .bg_palette_3 { background-color: #222222; }
  .text_palette_3 { color: #222222; }
  .border_palette_3 { border-color: #222222; }
  .bg_palette_4 { background-color: #FFFFFF; }
  .text_palette_4 { color: #FFFFFF; }
  .border_palette_4 { border-color: #FFFFFF; }
  .bg_palette_5 { background-color: #FFFFFF; }
  .text_palette_5 { color: #FFFFFF; }
  .border_palette_5 { border-color: #FFFFFF; }
  .bg_palette_6 { background-color: #FFFFFF; }
  .text_palette_6 { color: #FFFFFF; }
  .border_palette_6 { border-color: #FFFFFF; }
  .bg_palette_7 { background-color: #222222; }
  .text_palette_7 { color: #222222; }
  .border_palette_7 { border-color: #222222; }
  .bg_palette_8 { background-color: #FFFFFF; }
  .text_palette_8 { color: #FFFFFF; }
  .border_palette_8 { border-color: #FFFFFF; }

.bg_palette_1 a:link, .bg_palette_1 a:visited, .bg_palette_1 a:active { color: #FFFFFF; }
.bg_palette_1 a:hover { color: #FFFFFF }
