<%= render :partial => "/wikis/top_links" %>

<h1><%= link_to @wiki.name, wiki_path(@wiki) %>: Recent Comments and Changes</h1>

<% for comment in @comments %>
  <div class="wiki_chatter">
    <%=raw comment.to_html %>
  </div><br/>
<% end %>
