<div id="tagCloud">
  <h2>Tag Cloud</h2>
</div>

<script type="text/javascript">
  $(function() {
  // get tag feed
    $.getJSON("/wiki/tagcloud", function(data) {
      //create list for tag links
      $("<ul>").attr("id", "tagList").appendTo("#tagCloud");
      //create tags
      $.each(data, function(i, val) {
        //create item
        var li = $("<li>");
        //create link
        $("<a>").text(val.tag).attr({title:"See all pages tagged with " + val.tag, href:"/wiki/tag/" + val.tag}).appendTo(li);
        //add to list
        li.appendTo("#tagList");
        //set tag size
        li.children().css("fontSize", (val.freq / 10 < 1) ? 
          val.freq / 10 + 1 + "em": (val.freq / 10 > 2) ? "2em" :
          val.freq / 10 + "em");
      });
    });
  });
</script>

