<h1>Event Calendar Dashboard</h1>

<p style="float:right;">
  <%= link_to_new_event({}, {:class => 'fake_button'}) %>
  <%= link_to_event_revisions({}, {
    :link_text => 'Browse Deleted Events',
    :class => 'fake_button'
  }) %>
</p>

<%= render :partial => 'events/list' %>