body {
  background: #EEE;
  color: #333;
}
              
.base_content { 
  background: #FFF;
  color: #333;
  border: 1px solid #999;
}

.header { 
  background: #FFF;
  color: #333;
  border: 1px solid #999;
}

.header ul {
  background: #666;
  color: #FFF;
}

.header ul li a:link, .header ul li a:visited {
  color: #DDD; text-decoration: none; 
}

.header ul li a:hover { 
  color: #FFF; text-decoration: none; 
}


.side_pane {
  background: #999;
  border: 1px solid #666;
}

.logo_box {
}

.side_menu { 
  background: #EEE;
  color: #333;
}

.user_box { 
  background: #EEE;
  color: #333;
}

.footer { 
  background: #FFF;
  color: #333;
  border: 1px solid #999;
}

div.aux_content {
  padding: 12px;
  background: #EEE;
  border: 1px solid #999;
  margin: 12px;
  border-radius: 10px;
}
